
/*----- Global Loader -----*/
#global-loader {
    position: fixed;
    z-index: 99999999;
    background: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#global-loader img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 43%;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

/*------ Custom Default -------*/
.loader {
    border: 2px solid #ffffff;
    border-top: 2px solid #000000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin: 1rem 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.loader.animate {
    opacity: 1;
}

h2.animate {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.custom-card.blue {
    color: #1687ed;
    background: #ebf5fd;
    border: 1px solid #5dacf2;
    border-radius: 8px;
}

.custom-card.blue .loader {
    border-color: #99d0ff;
    border-top-color: #1687ed;
}

.custom-card.red {
    color: #ff0000;
    background: #ffe6e6;
    border: 1px solid #ff8080;
    border-radius: 8px;
}

.custom-card.red .loader {
    border-color: #ff9696;
    border-top-color: #ff0000;
}

.custom-card.green {
    color: #007e08;
    background: #cbffce;
    border: 1px solid #00cb0d;
    border-radius: 8px;
}

.custom-card.green .loader {
    border-color: #75cc7d;
    border-top-color: #007e08;
}

.default-card.default .loader {
    border-color: #e0e3f5;
}

.parent {
    -webkit-transform-origin: 66px 56px;
    -ms-transform-origin: 66px 56px;
    transform-origin: 66px 56px;
    -webkit-animation: spin 200s infinite;
    animation: spin 200s infinite;
}

.child1 {
    -webkit-animation: child1 10s 2s alternate infinite;
    animation: child1 10s 2s alternate infinite;
}

.child2 {
    -webkit-animation: child2 5s alternate infinite;
    animation: child2 5s alternate infinite;
}

.child3 {
    -webkit-animation: child3 10s alternate infinite;
    animation: child3 10s alternate infinite;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes child1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(35px, -20px);
        transform: translate(35px, -20px);
    }
}

@keyframes child1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(35px, -20px);
        transform: translate(35px, -20px);
    }
}

@-webkit-keyframes child2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@keyframes child2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@-webkit-keyframes child3 {
    0% {
        -webkit-transform: translateY(-10px) rotate(50deg);
        transform: translateY(-10px) rotate(50deg);
    }

    to {
        -webkit-transform: translateY(20px) rotate(0deg);
        transform: translateY(20px) rotate(0deg);
    }
}

@keyframes child3 {
    0% {
        -webkit-transform: translateY(-10px) rotate(50deg);
        transform: translateY(-10px) rotate(50deg);
    }

    to {
        -webkit-transform: translateY(20px) rotate(0deg);
        transform: translateY(20px) rotate(0deg);
    }
}